<a href="https://colab.research.google.com/github/AMAYA-RAJAN-K/PYTHON-/blob/main/2_Data_structures_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## List Exercise

In [3]:
## Q1. Create a list of 5 random numbers and print the list.
list1 = [20,35,42,57,68]
print("List of 5 random numbers:",list1)

List of 5 random numbers: [20, 35, 42, 57, 68]

In [6]:
## Q2. Insert 3 new values to the list and print the updated list.
list1[0] = 84
list1[1] = 73
list1.insert(2,91)
print("Updated list:",list1)

Updated list: [84, 73, 91, 84, 35, 42, 57, 68]

In [9]:
## Q3. Try to use a for loop to print each element in the list.
for i in list1 :
    print(i)

84
73
91
35
42
57
68

##  Dictionary Exercise

In [12]:
## Q1. Create a dictionary with keys 'name', 'age', and 'address' and values 'John', 25, and 'New York' respectively.
dict1 = {'name':'John','age':25,'address':'New York'}
print("The new dictionary :",dict1)

The new dictionary : {'name': 'John', 'age': 25, 'address': 'New York'}

In [13]:
## Q2. Add a new key-value pair to the dictionary created in Q1 with key 'phone' and value '1234567890'.
dict1['phone'] = '1234567890'
print("The updated dictionary :",dict1)

The updated dictionary : {'name': 'John', 'age': 25, 'address': 'New York', 'phone': '1234567890'}

## Set Exercise

In [14]:
## Q1.Create a set with values 1, 2, 3, 4, and 5.
set1 = {1,2,3,4,5}
print("The new set :",set1)

The new set : {1, 2, 3, 4, 5}

In [15]:
## Q2. Add the value 6 to the set created in Q1.
set1.add(6)
print("The updated set :",set1)

The updated set : {1, 2, 3, 4, 5, 6}

In [17]:
## Q3. Remove the value 3 from the set created in Q1.
set1.remove(3)
print("The updated set :",set1)

The updated set : {1, 2, 4, 5, 6}

## Tuple Exercise

In [18]:
## Q1. Create a tuple with values 1, 2, 3, and 4
tuple1 = (1,2,3,4)
print("The new tuple :",tuple1)

The new tuple : (1, 2, 3, 4)

In [19]:
## Q2. Print the length of the tuple created in Q1.
print("The length of the tuple :",len(tuple1))

The length of the tuple : 4